.exhibition {
	display: flex;
	flex-direction: column;
	background: green;

}
.exhibition .heading {
    position: relative;
    height: 36px;
    left: 86px;
    top: 229px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FEFFBF;
}

.exhibition .copy {
	padding: 1rem;
}

.exhibition .image {
	padding: 1rem;
}

@media (min-width: 400px) {
	.exhibition {
		flex-direction: row;
		background: red;
	}
}




.sign{
    background-color:rgba(178, 118, 28, 0.65) ;
    width: var(--width);
    height: 74px;
    top: 107px;
    position: absolute;
}
.sign_exhi{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-white);
    width: var(--width);
    height: 74px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.cosmology-bg-img {
    background-image: url(../Images/max-mckinnon-c9OCWLka764-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--width);
    height: 754px;
    
    top: 186px;
    position: absolute;
}
.cosmo_headline{
    position: absolute;
    height: 36px;
    left: 80px;
    top: 220px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FEFFBF;
}
.cosmo_text{
    position: absolute;
    width: 363px;
    height: 352px;
    left: 22px;
	top: 292px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;

}
.cosmo_text2{
    width: 363px;
    height: 352px;
    left: 20px;

    top: 584px;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;
}
.solarsystem{
    background-image: url(../Images/SOLARSYSTEM.jpg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 331px;
    height: 181px;
    left: 35px;
    top: 728px;
    border-radius: 5px 5px 5px 5px;
}

/*-------------------------EVOLUTION----------------------------*/
.evolution{
    background-image: url(../Images/skeleton-414543_1920_3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    top: 945px;
    position: absolute;
}
.bg_evolution{
    position: absolute;
    width: var(--width);
    height: 772px;
    left: 0px;
    top: 317px;
    background: rgb(184 184 118);
}
.evo_headline {
    position: absolute;
    height: 36px;
    left: 92px;
    top: 30px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}
.evo_text {
    width: var;
    padding: 20px;
    height: 172px;

font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.evo_text2 {
    top: 227px;
    position: absolute;
    width: 393px;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.mammoth {
    background-image: url(../Images/mammoth-1257288_1920.jpg);
    background-repeat: no-repeat;
    position: absolute;
    width: 339px;
    height: 242px;
    left: 27px;
    top: 772px;
    background-size: contain;
    border-radius: 5px;
    

}
.footer2 {
        position: absolute;
        width: 393px;
        height: 910px;
        left: 0px;
        top: 5452px;
        background-color: #004DA5;
}
/*-------------------------------Biology and medicine------------------------*/
.bio{
    background-image: url(../Images/jesse-orrico-60373.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    top: 2039px;
    position: absolute;

}
.bio_headline {
    position: absolute;
    width: 370px;
    height: 60px;
    left: 31px;
    top: 18px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #000000;

}
.bio_text{
    position: absolute;
    width: 357px;
    height: 770px;
    left: 16px;
    top: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.bio_text2{
    position: absolute;
    width: 357px;
    height: 770px;
    left: 22px;
    top: 672px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
} 
.heart{
    background-image: url(../Images/heart-2607178_1920.jpg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 339px;
    height: 227px;
    left: 25px;
    top: 420px;
    border-radius: var(--border-radius);
    


}
.bg_bio {
    background-color: #E3C4A9;
    position: absolute;
    width: 393px;
    height: 867px;
    left: 0px;
    top: 367px;
}
/*-------------------Robotics & AI--------------------*/
.robotics{
    background-image: url(../Images/samuel-zeller-158996_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 410px;
    top: 3242px;
    position: relative;
}
.robo-red{
    background-color: rgba(250, 103, 93, 0.88);
    width: 393px;
    height: 532px;
    top: 368px;
    position: relative;
}
.robotics_headline {
    top: 30px;
    left: 75px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

}

.robo-red p {
    width: 334px;
    left: 46px;
    top: 34px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}

.rob-picture {
    background-image: url(../Images/adam-lukomski-ja9VHwgcABo-unsplash.jpg);
    background-size: contain;
    position: relative;
    width: 206px;
    height: 274px;
    left: 98px;
    top: 60px;
    border-radius: 5px;
}

/*-----------------------------Ecology---------------------------*/

.ecology{
    background-image: url(../images/ivan-bandura-qvrjdtp8T3E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 420px;
    top: 3778px;
    position: relative;
}

.ecology_headline {
    top: 40px;
    left: 120px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color:aliceblue
}
.ecology-bg {
    background-color: #0EA671;
    top: 253px;
    Width: 393px;
    Height: 639px;
    position: relative;

}

.ecology-bg p{
    width: 334px;
    left: 46px;
    top: 34px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}
.eco-picture{
    background-image: url(../Images/marcin-jozwiak-uKvPDQop-JA-unsplash.jpg);
    height: 184px;
    width: 340px;
    position: relative; 
    top: 30px;
    left: 30px;
    border-radius: 5px;
}
.eco-paragraph{
    width: 334px;
    left: 46px;
    top: 34px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}