:root{
    --border-radius:5px;
    --color-white:white;
    --color-golden: #de904d;
    --color-black: #000000;
    --color-science:rgb(232, 232, 54);
    --width:393px;
    --max-width:100%;
}


html,body {
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
 
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}
/*---------------------------HEADER-----------------------*/
#main-header{
    position:fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 999;
    top:0px;
}

#logo{
    color: var(--color-white);
    width: 85px;
    font-weight: bold;
    font-size: 20px;
 

    
}

.yellow{
    color: rgb(232, 232, 54);
}
.list-wrapper {
    position: relative;
    background-color: var(--color-golden);
    padding: 5px;
    border-radius: var(--border-radius);
    display: none;
    z-index: 10;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 2px;
    line-height: 56px;
    top: 163px;
    list-style: none;
    border:2px solid rgba(0, 89, 255, 0.375);

}

#hamburger{
   display: none;
   color: var(--color-white);
 


}

#hamburger:checked~.list-wrapper {
    display:block;



}
.fa-bars {
    color: var(--color-white);
    font-size: 25px;
}


/*----------------------------MAIN-MAIN-----------------------*/
.main_main{
    padding-top: 100px;
    background-color: #c1bebe;
    width: 100%;
    height: 2065px;
}

.black-rectangle{
    position: relative;
    height: 140px;
    left: 0px;
    top: 0px;
    width: var(--width);
    background: linear-gradient(180deg, #000000 76.04%, rgba(0, 0, 0, 0) 95.31%);
    z-index: 1;
}
.note {
    position: relative;
    width: 311px;
    height: 70px;
    left: 47px;
    top: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: var(--color-white);
    z-index: 2;
    display: inline-flex;
}
.main_hall{
    background-image: url(images/roberto-nickson-396152\ resize.jpg);
    background-repeat: no-repeat;
    width: var(--width);
    height: 625px;
    left: 0px;
    top: -37px;
    position: relative;
    background-size: contain;
    z-index: 0;
}


.explorebutton{
    color:#DE904D;
    TEXT-DECORATION: none;
    font-weight: bold;
    border: 2px solid var(--color-white);
    border-radius: var(--border-radius);
    padding: 10px;
    left: 60px;
    top: 67px;
    position: relative;

}
.note2 {
    position: relative;
    width: 322px;
    height: 70px;
    left: 44px;
    top: 458px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: var(--color-white);
    z-index: 2;
    display: inline-flex;
}
/*----------------Special EVENTS-----------------------------*/
.black_gradient{
    width: var(--width);
    height: 44px;
    left: 0px;
    top: 431px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60.94%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bg_special {
    background-color: var(--color-black);
    width: var(--width);
    height: 136px;
    left: 0px;
    top: 424px;
    position: relative;
}

.special_events {
    color: #DE904D;
    top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
}



/*----------------Aeronautics---------------------------*/
.aeronautics {
    background-image: url(images/andrew-ruiz-348421.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 340px;
    left: 0px;
    top: 39px;
    width: var(--width);
}
.emne{
    font-size: 27px;
    text-align: center;
    color: var(--color-white);
    z-index: 11;
    position: relative;
    font-weight: bold;
    top: 12px;
}
    

.aero_description{
    color: var(--color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    padding: 10px;
    top: 240px;
    z-index: 10;
    width: 390px;
    
}
.screen{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 7.81%);
    width: 100%;
    height: 112px;
    left: 0px;
    top: 195px;
    position: relative;
}

.screen2{
    background: linear-gradient(173deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.39) 5.31%);
    width: 100%;
    height: 341.23px;
    left: 0px;
    top: -145px;
    position: relative;

}
/*-------------------energetica----------------*/
.energetica{
    background-image: url(images/Screenshot\ 2023-02-09\ at\ 00.12.14.jpg);
    width: var(--width);
    height: 340px;
    left: 0px;
    position: relative;
    background-size: cover;
    top: 44px;
    background-repeat: no-repeat;
}
.emne2{ 
    font-size: 27px;
    text-align: center;
    color: var(--color-white);
    z-index: 11;
    position: relative;
    font-weight: bold;
    top: 12px;
    


}

.energetica_description{
    color: var(--color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    padding: 10px;
    top: 190px;
    z-index: 10;
    left: 10px;
    width: 384px;
    display: flex;

}


.screen3{
    position: relative;
    width: var(--width);
    height: 340px;
    left: 0px;
    top: -152px;
    background: rgba(0, 0, 0, 0.66);
}
/*----------------NIGHT AT THE MUSEUM----------------*/
.night_at {
    background-image: url(Images/nightmuseum.jpg);
    width: var(--width);
    height: 340px;
    left: 0px;
    top: 49px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.emne3{
    font-size: 27px;
    text-align: center;
    color: var(--color-white);
    z-index: 11;
    position: relative;
    font-weight: bold;
    top: 12px;

}
.natm_description {
    color: var(--color-white);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    padding: 10px;
    top: 260px;
    z-index: 10;
    width: 360.91px;
    height: 108.09px;
    left: 22.06px;
    top: 226.18px;
}
.screen4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 7.81%);
    width: 100%;
    height: 112px;
    left: 0px;
    top: 194px;
    position: relative;
}

/*----------------------FOOTER----------------------------*/
.footer {
    position: relative;
    height: 910px;
    max-width: 100%;
    left: 0px;
    top: -129px;
    background-color: #004DA5;
    overflow: hidden;
    }




.h2_footer1 {
    color:white;
    left: 20px;
    top: 70px;
    position: relative;
}
.pattaya{
    display: flex;
    width: 361px;
    height: 25px;
    left: 20px;
    top: 76px;
    position: relative;
    color: white;
}

.h2_footer2 {
    color: white;
    left: 20px;
    top: 113px;
    line-height:22px;
    position: relative;
}
.entrance {
    display: flex;
    width: 361px;
    height: 405px;
    left: 20px;
    top: 123px;
    position: RELATIVE;
    color: white;
    line-height: 22px;
}

.tours{
    display: flex;
    width: 361px;
    height: 45px;
    left: 20px;
    top: -224px;
    position: RELATIVE;
    color: white;
    line-height: 22px;

}
.guided_tour{
    display: flex;
    width: 361px;
    height: 55px;
    left: 20px;
    top: -211px;
    position: RELATIVE;
    color: white;
    line-height: 22px;

}
.contact_us{
    box-sizing: border-box;
    width: 170px;
    height: 51px;
    left: 203px;
    top: -93px;
    border: 2px solid #FFFFFF;
    position: RELATIVE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    text-decoration: none;
    color: var(--color-science);
    border-radius: var(--border-radius);
}
.hours { 
    display: flex;
    width: 241px;
    height: 120px;
    left: 20px;
    top: -70px;
    position: relative;
    line-height: 22px;
    color: white;
    font-weight: 500;
}



/*----------------------------Exhibition Spaces----------------------------*/
/*----------------------------Exhibition Spaces----------------------------*/
/*----------------------------Exhibition Spaces----------------------------*/



.exhibition{
    background-image: url(../Images/max-mckinnon-c9OCWLka764-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--width);
    height: 754px;
    top: 86px;
    position: relative;
}
.heading{
    Font-family: Inter;
Font-style: Bold;
Font-size: 30px;
Line-height: 36px;
Line-height: 100%;
color: #FEFFBF;
font-weight: bold;
position: relative;
display: flex;
justify-content: center;
top: 40px;
}
.sign{
    background-color:rgba(178, 118, 28, 0.65) ;
    width:100%;
    height: 74px;
    top: 107px;
    position: absolute;
}
.sign_exhi{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-white);
    width: var(--width);
    height: 74px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }


.cosmo_headline{
    position: relative;
    height: 36px;
    left: 80px;
    top: 220px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FEFFBF;
}
.cosmo_text{
    position: absolute;
    width: 363px;
    height: 352px;
    left: 20px;
    top: 121px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;

}
.cosmo_text2{
    width: 363px;
    height: 352px;
    left: 20px;
    top: 338px;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;
}
.solarsystem{
    background-image: url(../Images/SOLARSYSTEM.jpg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 331px;
    height: 181px;
    left: 35px;
    top: 500px;
    border-radius: 5px 5px 5px 5px;
}

/*-------------------------EVOLUTION----------------------------*/
.evolution{

    width: 100%;
    height: 400px;
    top: 945px;
    position: absolute;
}
.bg-evo{
    background-image: url(../Images/skeleton-414543_1920_3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 384px;
    top: 0px;
    position: relative;
    left:0px;
}
.bg_evolution{
    position: absolute;
    width: var(--width);
    height: 772px;
    left: 0px;
    top: 317px;
    background: rgb(184 184 118);
}
.evo_headline {
    position: absolute;
    height: 36px;
    left: 92px;
    top: 30px;
    width: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    z-index: 1;
}
.evo_text {
    width: 393px;
    padding: 20px;
    height: 160px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    top: -28px;
    position: relative;
}
.evo_text2 {
    top: 52px;
    position: relative;
    width: 393px;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.mammoth {
    TOP: 268PX;
    background-image: url(Images/mammoth-1257288_1920_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 213PX;
    width: 359px;
    position: relative;
    left: 31px;
    border-radius: 5px;

}
.footer2 {
        position: absolute;
        width: 393px;
        height: 910px;
        left: 0px;
        top: 5452px;
        background-color: #004DA5;
}
/*-------------------------------Biology and medicine------------------------*/
.b-and-m{
    top: -867px;
    position: relative;
}
.bg-biology{
    background-image: url(../Images/jesse-orrico-60373.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    top: 1125px;
    position: relative;

}
.bio_headline {
    position: relative;
    width: 370px;
    height: 60px;
    left: 51px;
    top: 2070px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
    z-index: 2;

}
.bio_text{
    position: RELATIVE;
    width: 357px;
    height: 770px;
    left: 16px;
    top: 294PX;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.bio_text2{
    position: relative;
    width: 357px;
    height: 770px;
    left: 22px;
    top: -120px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
} 
.heart{
    background-image: url(../Images/heart-2607178_1920.jpg);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 339px;
    height: 227px;
    left: 25px;
    top: -744px;
    border-radius: var(--border-radius);


}
.bg_bio {
    background-color: #E3C4A9;
    position: relative;
    width: 393px;
    height: 867px;
    left: 0px;
    top: 2359px;
}
/*-------------------Robotics & AI--------------------*/
.robotics{

}

.robo-picture{
    background-image: url(../Images/samuel-zeller-158996_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 410px;
    top: -670px;
    position: relative;
}
.robo-red{
    background-color: rgba(250, 103, 93, 0.88);
    width: 393px;
    height: 532px;
    top: -672px;
    position: relative;
}
.robotics_headline {
    top: 30px;
    left: 75px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

}

.robo-red p {
    width: 334px;
    left: 46px;
    top: 34px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}

.rob-picture {
    background-image: url(../Images/adam-lukomski-ja9VHwgcABo-unsplash.jpg);
    background-size: contain;
    position: relative;
    width: 206px;
    height: 274px;
    left: 98px;
    top: -980px;
    border-radius: 5px;
}

/*-----------------------------Ecology---------------------------*/

.ecology{
   
    width: 100%;
    height: 420px;
    top: -940px;
    position: relative;
}
.forrest{
    background-image: url(../images/ivan-bandura-qvrjdtp8T3E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 314px;
    top: 0;
    position: relative;
    
}
.ecology_headline {
    top: 40px;
    left: 120px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color:aliceblue
}
.ecology-bg {
    background-color: #0EA671;
    top: -20px;
    Width: 393px;
    Height: 639px;
    position: relative;

}

.ecology-bg p{
    width: 334px;
    left: 46px;
    top: 34px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}
.eco-picture{
    background-image: url(../Images/marcin-jozwiak-uKvPDQop-JA-unsplash.jpg);
    height: 184px;
    width: 340px;
    position: relative; 
    top: 30px;
    left: 30px;
    border-radius: 5px;
}
.eco-paragraph{
    width: 346px;
    left: 24px;
    top: -260px;
    height: 154px;
    position: relative;
    color:white;
    font-family: inter;
    font-style: bold;
    font-size: 18px;
    font-weight: bold;
}
.footer-exhibitions{
    position: relative;
    height: 910px;
    max-width: 100%;
    left: 0px;
    top: 3097px;
    background-color: #004DA5;
    overflow: hidden;
}
/*---------------------LEARN & TEACH---------------------*/
/*---------------------LEARN & TEACH---------------------*/
/*---------------------LEARN & TEACH---------------------*/
/*---------------------LEARN & TEACH---------------------*/


.for-the-kids{
    margin-bottom: 5px;
    background-color: #C9B3A2;
    max-width: 100%;
    height: 1160px;
    top: 166px;
    position: relative;
}

.headline-kids{    font-size: 20px;
    font-size: 20px;
    top: 20px;
    position: relative;
    left: 20px;
    color: white;
}



.item1 {
    TOP: 36PX;
    background-image: url(../Images/learn-2405206_1920.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 163PX;
    width: 335px;
    position: relative;
    left: 20px;
    border-radius: 5px;
}
.item2{
    max-width: 85%;
    height: 100px;
    position: relative;
    color: white;
    top: 54px;
    left: 26px;
    font-weight: bold;
}
.mammoth{
    TOP: 104PX;
    background-image: url(Images/mammoth-1257288_1920_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 213PX;
    width: 359px;
    position: relative;
    left: 31px;
    border-radius: 5px;
}


.item3{
    max-width: 85%;
    height: 100px;
    position: relative;
    color: white;
    top: 118px;
    left: 26px;
    font-weight: bold;
}


.container{
    background-color: rgb(34, 84, 127);
    background-size: cover;
    height: 40px;
}

.youngstars{
    background-color: #0EA671;
    Width: 359px;
    height: 66px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 185px;
    position: relative;
    left: 18px;
}
.text1{
    max-width: 85%;
    height: 100px;
    position: relative;
    color: white;
    top: 200px;
    left: 26px;
    font-weight: bold;
}
.the-holiday-club{
    background-color: #0EA671;
    Width: 359px;
    height: 66px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 250px;
    position: relative;
    left: 20px;
}


/*----------------------------FOR THE TEACHERS----------------------------*/


.for-the-teachers{
    background-color: #E6D6B5;
    Width: 393px;
    Height: 913px;
    Top: 166px;
    position: relative;
    color:#4E4E4E;
    
}
.headline-teachers {
    position: relative;
    left: 29px;
    top: 20px;

}
.community{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 125px;
    left: 26px;
    font-weight: bold;
    z-index: 2;
}

.lab{
    background-image: url(images/lab-512503_1920.jpg);
    Width: 383px;
    height: 344px;
    Left: -18px;
    top: 107px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.microscope{
    background-image: url(images/people-219985_1280.jpg);
    background-size: contain;
    Width:348px;
    Height:232px;
    border-radius: 5px;
    position: relative;
    left: 20px;
}

.please{ max-width: 85%;
    height: 100px;
    position: relative;
    top: 25px;
    left: 26px;
    font-weight: bold;
}

.contact-teacher{
    background-color: #0EA671;
    Width: 359px;
    height: 66px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 14px;
    position: relative;
    left: 20px;
}

/*------------------------------Researchers--------------------------*/
.researchers{
    background-color: #98CFDC;
    width: 393px;
    height: 669px;
    position: relative;
    top: 171px;
}
.research-headline{
    left: 29px;
    position: relative;
    top: 20px;

}
.research-question{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 55px;
    left: 28px;
    font-weight: bold;
    z-index: 2;
}
.research-bilde{
    background-image: url(IMAGES/scientific-2040795_1280.jpg);
    position: relative;
    Width: 366px;
    Height:243px;
    Left:14px;
    border-radius: 5px;
    background-size: contain;
}

.research-paragraph{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 5px;
    left: 28px;
    font-weight: bold;
    z-index: 2;
}

.contact-researcher{
    background-color: #0EA671;
    Width: 359px;
    height: 66px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 34px;
    position: relative;
    left: 20px;
}

.footer-learn{
    position: relative;
    height: 910px;
    max-width: 100%;
    left: 0px;
    top: 175px;
    background-color: #004DA5;
    overflow: hidden;
    
}
/*----------------------------GET INVOLVED-------------------------------*/
.support{
    background-color: #879FF6;
    width: 100%;
    height: 732px;
    position: relative;
    top: 186px;
}
.support-h2{
    position: relative;
    left: 30px;
    top: 20px;
    color: white;
}
.support-text{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 55px;
    left: 26px;
    font-weight: bold;
    color: white;

    
}

.support-picture{ 
    background-image: url(images/buddies.jpg);
    Width:206px;
    Height:266px;
    background-size: contain;
    border-radius: 5px;
    left: 90px;
    top: 60px;
    position: relative;

  
}

.support-text2{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 75px;
    left: 26px;
    font-weight: bold;
    color: white;
}
.support-contact{
    box-sizing: border-box;
    width: 170px;
    height: 51px;
    left: 203px;
    top: 148px;
    border: 2px solid #FFFFFF;
    position: RELATIVE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    text-decoration: none;
    color: var(--color-science);
    border-radius: var(--border-radius);

}
/*------------------------Volunteer------------------------------------*/
.volunteer{
    background-color: #879FF6;
    width: 100%;
    height: 823px;
    position: relative;
    top: 191px;

}
.volunteer-h2{
    position: relative;
    left: 30px;
    top: 20px;
    color: white;

}
.volunteer-text{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 55px;
    left: 26px;
    font-weight: bold;
    color: white;

}
.volunteer-picture{
    background-image: url(images/austin-kehmeier-lyiKExA4zQA-unsplash.jpg);
    position: relative;
    width: 247px;
    height: 309px;
    left: 70px;
    top:154px;
    background-size: contain;
    border-radius: 5px;
}
.volunteer-text2{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 185px;
    left: 26px;
    font-weight: bold;
    color: white;
}
.volunteer-contact{
    box-sizing: border-box;
    width: 170px;
    height: 51px;
    left: 203px;
    top: 188px;
    border: 2px solid #FFFFFF;
    position: RELATIVE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    text-decoration: none;
    color: var(--color-science);
    border-radius: var(--border-radius);

}
/*---------------------------Internship------------------------------*/

.internship{
    background-color: #879FF6;
    width: 100%;
    height: 723px;
    position: relative;
    top: 196px;
}
.internship-h2{
    position: relative;
    left: 30px;
    top: 20px;
    color: white;

}
.internship-text{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 55px;
    left: 26px;
    font-weight: bold;
    color: white;

}
.internship-picture{
    background-image: url(images/1_EZn2o1HupExZVxDouzvWjQ.webp);
    background-repeat: no-repeat;
    position: relative;
    width: 320px;
    height: 209px;
    left: 40px;
    top: 106px;
    background-size: contain;
    border-radius: 5px;

}

.internship-text2{
    max-width: 85%;
    height: 100px;
    position: relative;
    top: 148px;
    left: 26px;
    font-weight: bold;
    color: white;
}

.internship-contact{
    box-sizing: border-box;
    width: 170px;
    height: 51px;
    left: 203px;
    top: 188px;
    border: 2px solid #FFFFFF;
    position: RELATIVE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    text-decoration: none;
    color: var(--color-science);
    border-radius: var(--border-radius);

}
.footer-get-involved{
    position: relative;
    top: 201px;
    background-color: blue;
    height: 800px;
}
 /*---------------------------Contact Us-------------------------*/

 .footer-Contact-Us{
    position: relative;
    top: 181px;
    background-color: blue;
    height: 800px;
}
.formfram{
    background-color: #879FF6;
    top: 176px;
    position: relative;
    height: 510px;
}
.form{
    position: relative;
    top: 34px;
    margin: 10px;
    height: 647px;
    width: 135px;
    border-radius: 5px;
    left: 111px;
    top: 19px;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}
.form__input{
    display :block;
}




























/*------------------------------Media Query-------------------------------*/
/*------------------------------Media Query-------------------------------*/
/*------------------------------Media Query-------------------------------*/





























/*---------------------MEDIA QUERYS for NAV---------------------*/

@media (min-width:969px){
    #main-header{
        padding-left:111.5px;
    }
    .hamburger-icon{
        display:none
    }
    .special_events {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .list-wrapper{
        display:flex;
        width: auto;
        top:0px;
        background-color: transparent;
        border: 2px solid #DE904D;
    }

    li{
        width: 191px;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li > a{
        color: #DE904D;
        text-decoration: none;
    }

 }
/*----------------------------------------------------------------*/

@media (min-width:400px) {
.row{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    }
 
.main_hall{
    width: 100%;
}
.bg_special {
    width: 100%;
}
.black_gradient{
    width: 100%;
} 
.night_at{
    top: 39px;
}
.energetica{
    top: 39px;
}
/*----------------------FOOTER QUERYS---------------------------*/
.footer{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
        height: 359px;
        top: -816px;
     
    }
.footer-exhibitions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    height: 359px;
    top: 19px;
}
   
.footer-learn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    height: 359px;
    top: 157px;
    position: relative;
}
.contact-hours{
    top: 210px;
    position: relative;
}
.admission {
    left: -62px;
    position: relative;
}
.location {
    position: relative;
    left: 0px;
    bottom: 47px;
}
.admission {
    left: 0px;
    bottom: 87px;
    position: relative;
}
.contact-hours {
    top: 110px;
    position: relative;
    right: 25px;
}
.contact_us {
    left:18px;
}


/*----------------------------------------------*/
.black-rectangle {
    max-width: 100%;
}

.main_hall{
    width:100%;
 
}
.black-rectangle{
    width: 100%;
}
.black_gradient{
    width: 100%;
}

.sign{
   display:flex;
   justify-content: center;

}
/*---------------------------exhibitionquary---------------*/

.exhibition{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    background-size: cover;
    background-repeat: repeat;
    width:100%;
    height: 344px;
    top: 86px;
    position: relative;
}


.heading {
    Font-family: Inter;
    Font-style: Bold;
    Font-size: 30px;
    Line-height: 36px;
    Line-height: 100%;
    color: #FEFFBF;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    top: 14px;
    right: 33px;
}
.cosmo_text2 {
    width: 463px;
    height: 352px;
    left: 80px;
    top: 44px;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;
}
.solarsystem {
    background-image: url(../Images/SOLARSYSTEM.jpg);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 351px;
    height: 311px;
    left: 90px;
    top: -230px;
    border-radius: 5px 5px 5px 5px;
}
.cosmo_text {
    position: relative;
    width: 469px;
    height: 352px;
    left: 0;
    top: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FEFFBF;
}
/*------------------------------EVOLUTION------------------*/

.evolution{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    top: 535px;

}
.bg_evolution {
    position: absolute;
    width: 100%;
    height: 385px;
    left: 0px;
    top: 0px;
    background: rgb(184 184 118);
}

.evo_text{
    top: 52px;
    position: relative;
    width: 540px;
    right: 10px;

}
.evo_text2{
    top: 0px;
    position: relative;
    top: 25px;
    position: relative;
    width: 540px;
    right: 10px;
}
.evo_headline{
    z-index: 10;
    left: 195px;
}

.bg-evo{
    background-image: url(../Images/skeleton-414543_1920_3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 384px;
    top: 0px;
    position: absolute;
    left:60px;
}
.mammoth{
    TOP: 54PX;
    background-image: url(Images/mammoth-1257288_1920_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 307PX;
    width: 419px;
    position: relative;
    left: 78px;
    border-radius: 5px;

}

/*-----------------------------------------BIOLOGY---------------------_*/
.bio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    
    
}
.b-and-m {
    top: 0px;
    position: relative;
}
.bio_headline {
    position: relative;
    width: 370px;
    height: 60px;
    left: 120px;
    top: 498px;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
    z-index: 3;
}
.bg-biology{
    background-image: url(../Images/jesse-orrico-60373.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 391px;
    top: -446px;
    position: relative;
    left: 60px;
    z-index: 1;

}


.bio_text {
    position: relative;
    width: 510px;
    height: 770px;
    left: 10px;
    top: 527px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    z-index: 1;
}
.bio_text2 {
    position: relative;
    width: 457px;
    height: 770px;
    left: 53px;
    top: 526px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.heart {
    background-image: url(../Images/heart-2607178_1920.jpg);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 339px;
    height: 227px;
    left: 157px;
    top: -148px;
    border-radius: var(--border-radius);
}
/*--------------------------------ROBOTICSQUERY--------------------*/

.robotics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(250, 103, 93, 0.88);
    width: 100%;
    height: 439px;
    top: 5px;
    position: relative;
    top: -441px;
}

.robo-picture{
    background-image: url(../Images/samuel-zeller-158996_1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 439px;
    top: 0px;
    left: 60px;
    position: relative;
}
.robotics_headline {
    top: 30px;
    left: 95px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}
.robo-red {
    background-color:transparent;
    width: 393px;
    height: 532px;
    top: 2px;
    position: relative;
}
.rob-picture {
    background-image: url(../Images/adam-lukomski-ja9VHwgcABo-unsplash.jpg);
    background-size: contain;
    position: relative;
    width: 202px;
    height: 270px;
    left: 133px;
    top: 52px;
    border-radius: 5px;
    background-repeat: no-repeat;
}

/*----------------------------------ECOLOGY QUERY------------------*/

.ecology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: #0EA671;
    top: -436px;
    Width: 100%;
    Height: 314px;
    position: relative;

}
.forrest{
    background-image: url(../images/ivan-bandura-qvrjdtp8T3E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 314px;
    top: 0;
    position: relative;
    left: 60px;
}
.ecology_headline {
    top: 40px;
    left: 139px;
}
.ecology-bg {
    background-color: transparent;
    top: 0px;
    Width: 393px;
    Height: 639px;
    position: relative;
    left: 39px;
}
.ecology-bg p {
    width: 436px;
    left: 0px;
    top: 10px;
  
}
.eco-picture {
    background-image: url(../Images/marcin-jozwiak-uKvPDQop-JA-unsplash.jpg);
    height: 154px;
    width: 430px;
    position: relative;
    top: -22px;
    left: 0px;
    border-radius: 5px;
}

.eco-paragraph{
    width: 436px;
    left: 0px;
    top: 10px;

}

}




